<%= form_with(model: [@property, unit], local: true) do |form| %>
  <div>
    <%= form.label :bedroom_count, "Number of Bedrooms" %>
    <%= form.number_field :bedroom_count %>
  </div>

  <div>
    <%= form.label :bathroom_count, "Number of Bathrooms" %>
    <%= form.number_field :bathroom_count %>
  </div>

  <div>
    <%= form.label :square_footage, "Square Footage" %>
    <%= form.number_field :square_footage %>
  </div>

  <div>
    <%= form.label :rent_price, "Rent Price" %>
    <%= form.number_field :rent_price, step: 0.01 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
